<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <title>Suryanarayan Kumar</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >

</head>

<body>

<!--navbar-->
<nav id="navbar">
    {%if user.is_authenticated%}
    <h2><a href="#home"><span class="text-primary">{{user.first_name}}</span> {{user.last_name}}</a></h2>
    {%else%}
    <h2><a href="#home"><span class="text-primary">Suryanarayan</span> Kumar</a></h2>
    {%endif%}
    <ul>
        <li><a href="#showcase">Home </a>
            <div class="sub-menu">
            <ul>
                <li><a href="Image">Image</a> </li>
            </ul>
            </div>
        </li>
        <li><a href="#about">About </a> </li>
        <li><a href="services">Services</a> </li>
        <li><a href="#testomonials">Testimonials </a> </li>
        <li><a href="contact">Contact </a> </li>
        {%if user.is_authenticated%}
        <li><a href="#"> update_Info </a>
        <div class="sub-menu">
            <ul>
                <li><a href="#">About</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">About_Image</a> </li>
                        <li><a href="#">About_Para</a> </li>
                    </ul>
                </div>
                </li>
                <li><a href="#">Image</a> </li>
                <li><a href="userinfo/information">Services</a> </li>
                <li><a href="#">Showcase</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Showcase_Image</a> </li>
                            <li><a href="#">Showcase_Content</a> </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        </li>
        <li><a href="userinfo/dashboard">{{user.username}}</a> </li>
        <li><a href="accounts/logout">Logout</a> </li>
        {%else%}

        <li><a href="http://www.linkedin.com/suraj-kumar-8013445" > ln </a> </li>
        <li><a href="accounts/register">Register</a> </li>
        <li><a href="accounts/login">Login</a> </li>
        {%endif%}

    </ul>

</nav>

<!--showcase Area-->
<header id="showcase">
    <div class="showcase-content">
        <div class="container">
            {%for Portfolio in Portfolio%}
            <h1> {{Portfolio.showcase_content}}<br><span class="text-primary">Next Level</span> </h1>
            <a href="#about" class="btn">FIND OUT HOW</a>
        </div>
    </div>

</header>

<!-- section: About-->

<section id="about">
    <div class="container">
        <h2 class="about-heading"> Get to know <span class="text-primary">About Myself</span> </h2>
        <div class="about-content">
            <div class="about-text">
                <h3> A LIttle Bit<span class="text-primary">About Myself</span> </h3>
                <p class="lead">{{Portfolio.paragraph_about}}</p>
                </div>
                <div class="about-image">
                    <img src="{{Portfolio.about_image.url}}" alt="Picture of myself">
                </div>
            </div>
    </div>
</section>
{%endfor%}

<!--footer-->

<footer class="bg-dark">
    <p>

        Copyright &copy; Suryanarayan Kumar 2019

    </p>
</footer>

</body>
