<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
    <form action="login" method="post">
        {%csrf_token%}
        <input type="text" name="USERNAME" placeholder="USERNAME"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="submit">
    </form>

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><h3> {{ message }}</h3></li>
    {% endfor %}
</ul>
{% endif %}

</body>
</html>