<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <title>Registration</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" >
</head>
<body>
         <div class="box">
        <h2>Registration</h2>
        <form action="accounts/register" method="post">
            {%csrf_token%}
            <div class="inputBox">
                <input type="text" name="first_name" required="">
                <label>First Name</label>
            </div>
            <div class="inputBox">
                <input type="text" name="last_name" required="">
                <label>last Name</label>
            </div>
            <div class="inputBox">
                <input type="text" name="USERNAME" required="">
                <label>Username</label>
            </div>
            <div class="inputBox">
                <input type="email" name="email" required="">
                <label>type your mail</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
            <div class="inputBox">
                <input type="password" name="confirm_password" required="">
                <label>confirm password</label>
            </div>
            <input type="submit" name="" value="Submit">

        </form>

    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> <h3>{{ message }}</h3></li>
        {% endfor %}
    </ul>
    {% endif %}

<!--footer-->

<footer class="bg-dark">
    <p>Copyright &copy; Suryanarayan Kumar 2019</p>
</footer>

</body>
</html>
